.not-found {
  background-color:#fff;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position:fixed;
  bottom:0;
  width: 100vw;
}
